/* styles.css */
body {
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: #f0f0f0;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.courseCard {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.courseDetails {
    margin-top: 20px;
}
